extends layout

block content
  .container.well
    .hero-unit
      h2 Выгрузка отчетов из YouTrack
      ul
        li
          a(href="/report/1") Отчет по проектам
        li
          a(href="/report/2") Отчет по времени